ul.header {
    background-color: #404148;
    width: 150px;
    height: 100vmax;
    list-style-type: none;
    margin: 0px 30px;
    padding: 0;
}

li a {
    text-decoration: none;
    text-underline-position: none;
    display: block;
    text-align: center;
    color: #cfcccd;
    font-size: 25px;
    padding: 15px 30px;
}